:root {
    --primary: #e99401;
    --black: #262626;
    --white: #fff;
    --fuente-principal: 'Outfit', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;
}
img {
    max-width: 100%;
    height: auto;
}
[class*='contenedor'],
main {
    width: min(95%, 120rem);
    margin: 3rem auto;
}
[class*='heading'] {
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    color: var(--primary);
    margin: 5rem 0;
}

.enlace {
    margin-top: 2rem;
    text-decoration: none;
    display: block;
    background-color: var(--black);
    color: var(--white);
    padding: .5rem;
    text-align: center;
    border-radius: .5rem;
    transition: background-color .3s ease;
}

.enlace:hover {
    background-color: var(--primary);
    color: var(--black);
}

.conetendor-error {
    position: relative;
    height: 60vh;
}

.error-svg svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
  }
.message-box {
    height: 200px;
    width: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: 50px;
    color: #000;
    font-weight: 300;
}
.message-box h1 {
    font-size: 60px;
    line-height: 46px;
    margin-bottom: 40px;
    color: var(--primary);
}

.buttons-con .action-link-wrap a,
.buttons-con .action-link-wrap button {
    background: var(--black);
    padding: 10px 30px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
    border: none;
}

.buttons-con .action-link-wrap a:hover,
.buttons-con .action-link-wrap button:hover {
    background: var(--primary);
    color: #fff;
}

#Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-4,
#Polygon-5 {
    animation: float 1s infinite ease-in-out alternate;
}
#Polygon-2 {
    animation-delay: 0.2s;
}
#Polygon-3 {
    animation-delay: 0.4s;
}
#Polygon-4 {
    animation-delay: 0.6s;
}
#Polygon-5 {
    animation-delay: 0.8s;
}

@keyframes float {
    100% {
        transform: translateY(20px);
    }
}
@media (max-width: 450px) {
    .error-svg svg {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -190px;
    }
    .message-box {
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -190px;
        text-align: center;
    }
}


